body {
    background: #80d0c7;
    font-family: "Nunito", sans-serif;
}

h2 {
    text-transform: uppercase;
}

.blurb h2 {
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #596164;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.content-top {
    margin-top: 150px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-size: 100;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

